sup
{
    color: red;
}
.first label
{
    font-size: bolder;
    font-size: 20px;

}
.first
{
    display: block;
}
label
{
    display: block;
    font-family: 'Roboto', sans-serif;
    margin-top: 1em;
}
select
{
    display: block;

}
fieldset
{
    width: 800px;
    margin: auto;
}

input
{
    width: 300px;
    height: 40px;
}

.texto
{
    color: #eaeaea;
    font-size: 25px;
}
.sel1
{
    background-color: #DCDCDC;
    width: 635px;
    height: 40px;
}
#email
{
    width: 620px;
}
#text1
{
    width: 625px;
}
#butt1
{
    width: 90px;
    display: block;
    background-color: #3C97AE;
    color: white;
    margin-top: 10px;
}
#form1
{
    margin-top: 2em;
    margin-bottom: 2em;
}
