sup
{
    color: red;
}
.first label
{
    font-size: bolder;
    font-size: 20px;

}
.first
{
    display: block;
}
label
{
    display: block;
    font-family: 'Roboto', sans-serif;
}
select
{
    display: block;
}
fieldset
{
    width: 800px;
    margin: auto;
}

input {
    width: 300px;
    height: 40px;
}

.texto {
    color: red;
}
